# Imports

In [1]:
import pandas as pd
import model_engine
import boto3
import  numpy as np
from functions_for_onboarding import *

# Load Files

## 's3://power-client-data-staging/CLIENT/PARSED/DATA/BUREAU=equifax/FORMAT=cms_6/TABLE=inquiry/PULL_NAME=20250201_oefcu_orangecounty_orlando_trustone_vantagewest/'
## 's3://power-client-data-staging/CLIENT/PARSED/DATA/BUREAU=equifax/FORMAT=cms_6/TABLE=trade/PULL_NAME=20250201_oefcu_orangecounty_orlando_trustone_vantagewest/'

### We can see that both of these lay in the power-client-data-staging bucket since they follow s3://{bucket_name}/{file}

In [2]:
bucket_name = "power-client-data-staging"

In [3]:
files_inquiry_data = list_s3_files(bucket_name = bucket_name, prefix = 'CLIENT/PARSED/DATA/BUREAU=equifax/FORMAT=cms_6/TABLE=inquiry/PULL_NAME=20250201_oefcu_orangecounty_orlando_trustone_vantagewest/')
files_trade_data = list_s3_files(bucket_name = bucket_name, prefix = 'CLIENT/PARSED/DATA/BUREAU=equifax/FORMAT=cms_6/TABLE=trade/PULL_NAME=20250201_oefcu_orangecounty_orlando_trustone_vantagewest/')

## Inquiry Data
### Each row: One lender pulled a borrowers credit

In [4]:
test_inquiry_df = load_df_from_list(list = files_inquiry_data, number = 1)

In [5]:
test_inquiry_df.head(5)

,ZEST_KEY,SEG_SEQ,SEG_PARENT,SEG_PARENT_SEQ,SEGMENT_TYPE,DATE_OF_INQUIRY,ABBREVIATION,CUSTOMER_NUMBER,CUSTOMER_NAME,ACCOUNT_TYPE,FILLER1,ARCHIVE_DATA
0,381615_1_192_06,2,FULL-Header,2,FI,12202018,CR,ZB,None,None,None,None
1,381615_1_192_06,3,FULL-Header,3,FI,09072018,CR,ZB,None,None,None,None
2,381615_1_192_06,4,FULL-Header,4,FI,01282020,AR,FP,None,None,None,None
3,381615_1_192_06,5,FULL-Header,5,FI,01202020,AR,FM,None,None,None,None
4,381615_1_192_06,6,FULL-Header,6,FI,01172020,PRM,FM,None,None,None,None

In [6]:
test_inquiry_df.dtypes

ZEST_KEY           object
SEG_SEQ            object
SEG_PARENT         object
SEG_PARENT_SEQ     object
SEGMENT_TYPE       object
DATE_OF_INQUIRY    object
ABBREVIATION       object
CUSTOMER_NUMBER    object
CUSTOMER_NAME      object
ACCOUNT_TYPE       object
FILLER1            object
ARCHIVE_DATA       object
dtype: object

### Abbreviation tells us the context or purpose of the credit inquiry. CR is the only one we care about because that signifies a hard inquiry, the lender (zest_key) applied for credit from the customer who pulled their report as apart of that application

In [7]:
hard_credit_inquiry_df = test_inquiry_df[test_inquiry_df['ABBREVIATION'] == 'CR']

In [8]:
hard_credit_inquiry_df.shape, test_inquiry_df.shape, np.round(len(hard_credit_inquiry_df)/len(test_inquiry_df) * 100,3)

((125357, 12), (500000, 12), 25.071)

### **QUESTION: WHY ARE ALL OF THESE COLUMNS EMPTY? IS IT BECAUSE PII DATA WON'T SHOW**

In [9]:
hard_credit_inquiry_df[["ARCHIVE_DATA", "CUSTOMER_NAME", "SEGMENT_TYPE", "FILLER1",
             "SEG_SEQ", "SEG_PARENT_SEQ", "SEG_PARENT", 'ACCOUNT_TYPE']].value_counts()

Series([], Name: count, dtype: int64)

### Using the inquiry.json to follow, we can drop some columns that we will not need. (They are under exclusion_list)

In [10]:
drop_cols = ["ARCHIVE_DATA", "CUSTOMER_NAME", "SEGMENT_TYPE", "FILLER1",
             "SEG_SEQ", "SEG_PARENT_SEQ", "SEG_PARENT", "ACCOUNT_TYPE"]

hard_credit_inquiry_df = hard_credit_inquiry_df.drop(columns = drop_cols)

### Only 25% of the rows in the inquiry table are from hard credit request pulls

### Clean up the DATE_OF_INQUIRY so that it is in month format

In [11]:
hard_credit_inquiry_df = clean_up_date_column(df = hard_credit_inquiry_df, date_col = 'DATE_OF_INQUIRY')

In [12]:
hard_credit_inquiry_df.head(5)

                  ZEST_KEY DATE_OF_INQUIRY ABBREVIATION CUSTOMER_NUMBER
184130     324122_1_192_06      2018-04-01           CR              UZ
147310   98447729_1_084_22      2018-04-01           CR              HZ
97182      118382_1_195_01      2018-04-01           CR              CG
1359     90991399_1_084_03      2018-04-01           CR              ON
365022  102698305_1_193_03      2018-04-01           CR              FA

In [13]:
hard_credit_inquiry_df.dtypes

ZEST_KEY                   object
DATE_OF_INQUIRY    datetime64[ns]
ABBREVIATION               object
CUSTOMER_NUMBER            object
dtype: object

### We can see that the last date available in March 2020. This is the last hard credit request in this data set. Let's create some synthetic date for the application date "DATE_OF_REQUEST"

### Randomly give each Zest_KEY a random value for DATE_OF_REQUEST between April 5th 2020 and June 5th 2020

In [14]:
rng = np.random.default_rng(seed = 42)

unique_keys = pd.Index(hard_credit_inquiry_df['ZEST_KEY'].astype("string").unique())

n_keys = len(unique_keys)
start_ns = pd.Timestamp('2020-04-05').value
end_ns = pd.Timestamp('2020-06-05').value
print(f'start_ns is {start_ns}\n end_ns is {end_ns}')

random_ns = rng.integers(start_ns, end_ns + 1, size=n_keys)

random_dates = pd.to_datetime(random_ns)

date_map = pd.Series(random_dates, index=unique_keys)

hard_credit_inquiry_df['DATE_OF_REQUEST'] =  pd.to_datetime(hard_credit_inquiry_df['ZEST_KEY'].astype('string').map(date_map).dt.date, format = "%m%d%Y", errors = "coerce").dt.normalize()

start_ns is 1586044800000000000
 end_ns is 1591315200000000000

In [15]:
hard_credit_inquiry_df.head(5)

,ZEST_KEY,DATE_OF_INQUIRY,ABBREVIATION,CUSTOMER_NUMBER,DATE_OF_REQUEST
184130,324122_1_192_06,2018-04-01,CR,UZ,2020-05-22
147310,98447729_1_084_22,2018-04-01,CR,HZ,2020-05-01
97182,118382_1_195_01,2018-04-01,CR,CG,2020-05-27
1359,90991399_1_084_03,2018-04-01,CR,ON,2020-05-17
365022,102698305_1_193_03,2018-04-01,CR,FA,2020-04-10

In [16]:
print("pct missing DATE_OF_REQUEST:", hard_credit_inquiry_df["DATE_OF_REQUEST"].isna().mean())
print("pct missing INQUIRY_DATE:", hard_credit_inquiry_df["DATE_OF_INQUIRY"].isna().mean())

pct missing DATE_OF_REQUEST: 0.0
pct missing INQUIRY_DATE: 0.0

In [17]:
hard_credit_inquiry_df.shape

(125357, 5)

### Compute the days since inquiry

In [18]:
hard_credit_inquiry_df['days_from_application'] = (hard_credit_inquiry_df["DATE_OF_REQUEST"] - hard_credit_inquiry_df["DATE_OF_INQUIRY"]).dt.days

In [19]:
hard_credit_inquiry_df['months_from_application'] = hard_credit_inquiry_df["days_from_application"] / 30.4375

### JSON File says the following codes are auto_mortages

### We want to de-dup these rows and only select one of these per time. People often rate shop, when they are looking for these two and this is not neccassarily risky behavior 
"auto_mortgage": [
                        "AZ",
                        "AX",
                        "AU",
                        "AT",
                        "AS",
                        "AR",
                        "AP",
                        "AN",
                        "AL",
                        "AF",
                        "AA",
                        "A",
                        "FA",
                        "FM",
                        "FP",
                        "FS",
                        "FY",
                        "FR",
                        "FC",
                        "FF",
                        "FZ",
                        "FB",
                        "F",
                        "RH",
                        "RE",
                        "RM",
                        "RA",
                        "RZ",
                        "R"
                    ]

In [20]:
AUTO_MORTGAGE_CODES = {
    "AZ","AX","AU","AT","AS","AR","AP","AN","AL","AF","AA","A",
    "FA","FM","FP","FS","FY","FR","FC","FF","FZ","FB","F",
    "RH","RE","RM","RA","RZ","R"
}

hard_credit_inquiry_df["CUSTOMER_NUMBER"] = hard_credit_inquiry_df["CUSTOMER_NUMBER"].astype("string").str.strip()
hard_credit_inquiry_df["indCode"] = np.where(
    hard_credit_inquiry_df["CUSTOMER_NUMBER"].isin(AUTO_MORTGAGE_CODES),
    "auto_mortgage",
    "other"
)

### Also, we drop utility codes

"additional_drop_rows": [
  {
    "column": "ABBREVIATION",
    "value": ["CR"],
    "op": "not_in",
    "is_optional" : true
  },
  {
    "column": "CUSTOMER_NUMBER",
    "value": ["UW","UT","UF","UG","UC","UZ","UD","UE","UH","UI","U"],
    "op": "in"
  }
]

In [21]:
UTILITY_CODES = {"UW","UT","UF","UG","UC","UZ","UD","UE","UH","UI","U"}
hard_credit_inquiry_df = hard_credit_inquiry_df[~hard_credit_inquiry_df['CUSTOMER_NUMBER'].isin(UTILITY_CODES)]

### Order by ZEST_KEY, whether AUTO or MOrtage and then inquiry date. This will allow us for two rows with the same zest_key and ind_code to grab the previous inquiry dt

In [22]:
## Groups by so ordered by this will allow for shift
df = hard_credit_inquiry_df.sort_values(["ZEST_KEY", "indCode", "DATE_OF_INQUIRY"])

## for each application find the last loan of the same type
### .shift gets the previous row inside the same group
prev = df.groupby(["ZEST_KEY", "indCode"])["DATE_OF_INQUIRY"].shift(1)

## find the days since the previous loan
days_since_prev = (df["DATE_OF_INQUIRY"] - prev).dt.days


## mask for when it is an auto or mortage loan

is_auto = df["indCode"] == "auto_mortgage"
dup_mask = is_auto & (~days_since_prev.isna()) & (days_since_prev <= 45)

## De-dup dataset

hard_credit_inquiry_df['days_since_last_inquiry'] = days_since_prev
de_dupped_data = hard_credit_inquiry_df.loc[~dup_mask].copy()

de_dupped_data['months_since_inquiry'] = de_dupped_data['days_since_last_inquiry']/30.4375

### If you examine the row below you can see that 2018-08-21 stays because it was not less than 45 but 2018-08-24	 does not
### Note, when we compute the days_since_prev if it was the first inqury for that person of being either auto_mortage or other, it will be nan
### since we do the last than or equal to it means we don't remove it


# **Question: Seems like when we  de-dup we treat auto and mortage exactly the same, create the same rate-shopping event for both, how come we don't de-dup each separately**

In [23]:
hard_credit_inquiry_df[hard_credit_inquiry_df['indCode']=='auto_mortgage'].sort_values(by = ["ZEST_KEY", "indCode", "DATE_OF_INQUIRY"]).head(15)

,ZEST_KEY,DATE_OF_INQUIRY,ABBREVIATION,CUSTOMER_NUMBER,DATE_OF_REQUEST,days_from_application,months_from_application,indCode,days_since_last_inquiry
50833,100000991_1_084_22,2019-03-21,CR,FA,2020-05-16,422,13.864476,auto_mortgage,NaN
50823,100000991_1_084_22,2019-12-19,CR,FP,2020-05-16,149,4.895277,auto_mortgage,273.0
16998,100001655_1_084_22,2018-08-21,CR,AN,2020-05-15,633,20.796715,auto_mortgage,NaN
16996,100001655_1_084_22,2018-08-24,CR,FA,2020-05-15,630,20.698152,auto_mortgage,3.0
16994,100001655_1_084_22,2019-01-05,CR,AN,2020-05-15,496,16.295688,auto_mortgage,134.0
15228,100008241_2_084_12,2020-02-02,CR,FA,2020-04-13,71,2.332649,auto_mortgage,NaN
285173,100020090_1_193_03,2018-12-09,CR,FA,2020-04-13,491,16.131417,auto_mortgage,NaN
285171,100020090_1_193_03,2020-02-19,CR,FA,2020-04-13,54,1.774127,auto_mortgage,437.0
378704,100023092_1_084_22,2019-02-20,CR,FC,2020-05-12,447,14.685832,auto_mortgage,NaN
378703,100023092_1_084_22,2020-02-17,CR,AN,2020-05-12,85,2.792608,auto_mortgage,362.0
292076,100023092_2_084_22,2019-02-20,CR,FC,2020-04-20,425,13.963039,auto_mortgage,NaN
105374,100031424_1_084_22,2018-09-06,CR,FA,2020-05-06,608,19.975359,auto_mortgage,NaN
132121,100033625_1_194_03,2018-04-24,CR,FA,2020-05-31,768,25.232033,auto_mortgage,NaN
132120,100033625_1_194_03,2018-11-05,CR,FA,2020-05-31,573,18.825462,auto_mortgage,195.0
132119,100033625_1_194_03,2018-11-05,CR,FA,2020-05-31,573,18.825462,auto_mortgage,0.0

In [24]:
hard_credit_inquiry_df[hard_credit_inquiry_df['indCode']=='auto_mortgage']['days_since_last_inquiry'].describe()

count    40081.000000
mean        55.210698
std        111.482248
min          0.000000
25%          0.000000
50%          0.000000
75%         52.000000
max        711.000000
Name: days_since_last_inquiry, dtype: float64

In [25]:
de_dupped_data[de_dupped_data['indCode']=='auto_mortgage']['days_since_last_inquiry'].describe()

count    10436.000000
mean       201.902357
std        135.722830
min         46.000000
25%         95.000000
50%        165.000000
75%        276.000000
max        711.000000
Name: days_since_last_inquiry, dtype: float64

In [26]:
de_dupped_data[de_dupped_data['indCode']=='auto_mortgage'].sort_values(by = 'ZEST_KEY').sort_values(by = ["ZEST_KEY", "indCode", "DATE_OF_INQUIRY"]).head(15)

,ZEST_KEY,DATE_OF_INQUIRY,ABBREVIATION,CUSTOMER_NUMBER,DATE_OF_REQUEST,days_from_application,months_from_application,indCode,days_since_last_inquiry,months_since_inquiry
50833,100000991_1_084_22,2019-03-21,CR,FA,2020-05-16,422,13.864476,auto_mortgage,NaN,NaN
50823,100000991_1_084_22,2019-12-19,CR,FP,2020-05-16,149,4.895277,auto_mortgage,273.0,8.969199
16998,100001655_1_084_22,2018-08-21,CR,AN,2020-05-15,633,20.796715,auto_mortgage,NaN,NaN
16994,100001655_1_084_22,2019-01-05,CR,AN,2020-05-15,496,16.295688,auto_mortgage,134.0,4.402464
15228,100008241_2_084_12,2020-02-02,CR,FA,2020-04-13,71,2.332649,auto_mortgage,NaN,NaN
285173,100020090_1_193_03,2018-12-09,CR,FA,2020-04-13,491,16.131417,auto_mortgage,NaN,NaN
285171,100020090_1_193_03,2020-02-19,CR,FA,2020-04-13,54,1.774127,auto_mortgage,437.0,14.357290
378704,100023092_1_084_22,2019-02-20,CR,FC,2020-05-12,447,14.685832,auto_mortgage,NaN,NaN
378703,100023092_1_084_22,2020-02-17,CR,AN,2020-05-12,85,2.792608,auto_mortgage,362.0,11.893224
292076,100023092_2_084_22,2019-02-20,CR,FC,2020-04-20,425,13.963039,auto_mortgage,NaN,NaN
105374,100031424_1_084_22,2018-09-06,CR,FA,2020-05-06,608,19.975359,auto_mortgage,NaN,NaN
132121,100033625_1_194_03,2018-04-24,CR,FA,2020-05-31,768,25.232033,auto_mortgage,NaN,NaN
132120,100033625_1_194_03,2018-11-05,CR,FA,2020-05-31,573,18.825462,auto_mortgage,195.0,6.406571
258989,100040485_1_084_01,2019-10-05,CR,AN,2020-04-14,192,6.308008,auto_mortgage,NaN,NaN
477868,100042740_1_084_01,2018-05-17,CR,AT,2020-04-18,702,23.063655,auto_mortgage,NaN,NaN

### Create Indicator Variables that Tell How Far Away the Inquires were from the application. Closer means tells us more about the application

In [27]:
de_dupped_data["in_last_1m"]  = de_dupped_data["months_from_application"] <= 1
de_dupped_data["in_last_3m"]  = de_dupped_data["months_from_application"] <= 3
de_dupped_data["in_last_6m"]  = de_dupped_data["months_from_application"] <= 6
de_dupped_data["in_last_9m"]  = de_dupped_data["months_from_application"] <= 9
de_dupped_data["in_last_12m"] = de_dupped_data["months_from_application"] <= 12

In [28]:
de_dupped_data

,ZEST_KEY,DATE_OF_INQUIRY,ABBREVIATION,CUSTOMER_NUMBER,DATE_OF_REQUEST,days_from_application,months_from_application,indCode,days_since_last_inquiry,months_since_inquiry,in_last_1m,in_last_3m,in_last_6m,in_last_9m,in_last_12m
147310,98447729_1_084_22,2018-04-01,CR,HZ,2020-05-01,761,25.002053,other,NaN,NaN,False,False,False,False,False
97182,118382_1_195_01,2018-04-01,CR,CG,2020-05-27,787,25.856263,other,NaN,NaN,False,False,False,False,False
1359,90991399_1_084_03,2018-04-01,CR,ON,2020-05-17,777,25.527721,other,NaN,NaN,False,False,False,False,False
365022,102698305_1_193_03,2018-04-01,CR,FA,2020-04-10,740,24.312115,auto_mortgage,NaN,NaN,False,False,False,False,False
440045,140500_1_195_02,2018-04-01,CR,ON,2020-05-21,781,25.659138,other,NaN,NaN,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450558,92376528_1_084_03,2020-03-30,CR,ZB,2020-04-12,13,0.427105,other,412.0,13.535934,True,True,True,True,True
387424,100612115_1_084_22,2020-03-30,CR,ZB,2020-04-24,25,0.821355,other,12.0,0.394251,True,True,True,True,True
276380,497168_1_192_22,2020-03-30,CR,FA,2020-04-22,23,0.755647,auto_mortgage,213.0,6.997947,True,True,True,True,True
223617,82070566_1_084_12,2020-03-30,CR,FC,2020-05-28,59,1.938398,auto_mortgage,183.0,6.012320,False,True,True,True,True
311157,608096_2_192_22,2020-03-30,CR,ZB,2020-04-14,15,0.492813,other,595.0,19.548255,True,True,True,True,True

In [41]:
de_dupped_data[de_dupped_data['indCode']=='auto_mortgage']['in_last_1m'].value_counts()

in_last_1m
False    25520
True       178
Name: count, dtype: int64

In [43]:
de_dupped_data[de_dupped_data['indCode']=='auto_mortgage']['in_last_3m'].value_counts()

in_last_3m
False    23661
True      2037
Name: count, dtype: int64

### Prepare Data For Modelling

In [29]:
df_for_modeling = build_final_inquiry_features(df = de_dupped_data, prod_col = 'indCode', product_groups = ['auto_mortgage', 'other'])

In [30]:
df_for_modeling.columns

Index(['ZEST_KEY', 'all_num_inq', 'all_mean_gap_days', 'all_std_gap_days',
       'all_gap_cv', 'all_days_since_last_inquiry',
       'all_months_since_last_inquiry', 'all_gap_p10', 'all_gap_p25',
       'all_gap_p50', 'all_gap_p75', 'all_gap_p90', 'all_inq_1m', 'all_inq_3m',
       'all_inq_6m', 'all_inq_9m', 'all_inq_12m', 'all_decay_30d',
       'all_decay_90d', 'auto_mortgage_num_inq', 'auto_mortgage_mean_gap_days',
       'auto_mortgage_std_gap_days', 'auto_mortgage_gap_cv',
       'auto_mortgage_days_since_last_inquiry',
       'auto_mortgage_months_since_last_inquiry', 'auto_mortgage_gap_p10',
       'auto_mortgage_gap_p25', 'auto_mortgage_gap_p50',
       'auto_mortgage_gap_p75', 'auto_mortgage_gap_p90',
       'auto_mortgage_inq_1m', 'auto_mortgage_inq_3m', 'auto_mortgage_inq_6m',
       'auto_mortgage_inq_9m', 'auto_mortgage_inq_12m',
       'auto_mortgage_decay_30d', 'auto_mortgage_decay_90d', 'other_num_inq',
       'other_mean_gap_days', 'other_std_gap_days', 'other_gap_cv',
       'other_days_since_last_inquiry', 'other_months_since_last_inquiry',
       'other_gap_p10', 'other_gap_p25', 'other_gap_p50', 'other_gap_p75',
       'other_gap_p90', 'other_inq_1m', 'other_inq_3m', 'other_inq_6m',
       'other_inq_9m', 'other_inq_12m', 'other_decay_30d', 'other_decay_90d'],
      dtype='object')

In [31]:
df_for_modeling.head(5)

,ZEST_KEY,all_num_inq,all_mean_gap_days,all_std_gap_days,all_gap_cv,all_days_since_last_inquiry,all_months_since_last_inquiry,all_gap_p10,all_gap_p25,all_gap_p50,...,other_gap_p50,other_gap_p75,other_gap_p90,other_inq_1m,other_inq_3m,other_inq_6m,other_inq_9m,other_inq_12m,other_decay_30d,other_decay_90d
0,100000991_1_084_22,8,88.333333,103.750984,1.174539,143.0,4.698152,9.0,15.0,48.0,...,27.0,69.00,113.4,0,0,1,2,5,0.071171,0.896194
1,100001655_1_084_22,9,100.571429,70.722126,0.703203,85.0,2.792608,19.0,58.0,102.0,...,93.5,129.75,175.5,0,0,0,1,2,0.013208,0.388729
2,100020090_1_193_03,5,271.666667,165.500252,0.609203,437.0,14.357290,139.2,189.0,272.0,...,189.0,230.50,255.4,0,0,0,0,1,0.000537,0.095623
3,100023092_2_084_22,5,122.333333,106.039301,0.866806,188.0,6.176591,35.8,89.5,179.0,...,179.0,183.50,186.2,0,1,1,2,2,0.375237,0.971926
4,100031424_1_084_22,3,427.000000,NaN,NaN,427.0,14.028747,427.0,427.0,427.0,...,427.0,427.00,427.0,0,0,0,1,1,0.010074,0.224025

### ZEST_KEY is in format: {Application_ID}_{Number_Applicant (Primary/Secondary)}_{Client_ID}_{Product_ID}


### Canonical product table (from GUAN)

| Product name     | Product ID (last two digits) |
|------------------|------------------------------:|
| Personal loan    | 01                            |
| Direct loan      | 12                            |
| Auto loan        | 02                            |
| Indirect loan    | 22                            |
| Credit card      | 03                            |
| Dark scoring     | 97                            |
| Mortgage         | 04                            |
| Analysis         | 98                            |
| Student loan     | 05                            |
| Other            | 99                            |

### Note, this list in the doc does not totally match what we see

In [88]:
hard_credit_inquiry_df["last_two_digits"] = hard_credit_inquiry_df["ZEST_KEY"].astype("string").str[-2:]
unique_vals = sorted(hard_credit_inquiry_df["last_two_digits"].dropna().unique().tolist())

In [89]:
hard_credit_inquiry_df['last_two_digits'].value_counts(normalize = True)

last_two_digits
22    0.479798
12    0.175993
01    0.143414
03    0.106528
06    0.057907
02    0.028798
88    0.007562
Name: proportion, dtype: Float64

In [91]:
hard_credit_inquiry_df.dtypes

ZEST_KEY                   object
SEG_SEQ                    object
SEG_PARENT                 object
SEG_PARENT_SEQ             object
SEGMENT_TYPE               object
DATE_OF_INQUIRY    datetime64[ns]
ABBREVIATION               object
CUSTOMER_NUMBER            object
CUSTOMER_NAME              object
ACCOUNT_TYPE               object
FILLER1                    object
ARCHIVE_DATA               object
DATE_OF_REQUEST            object
last_two_digits    string[python]
dtype: object